@font-face {
    font-family: 'MPlus';
    src: url('/assets/fonts/MPLUS1p-Regular.ttf') format('truetype');
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #83a4d4;
    background: linear-gradient(to left, #83a4d4, #b6fbff);
    
}
h1{
    font-family: 'MPlus';
}
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background: #e0eafc; 
    background: linear-gradient(to right, #e0eafc, #cfdef3); 
    width: 50%;
    min-width: 550px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px;
}

.search-div{
padding-bottom: 15px;
width: 85%;
margin: auto;

}
.search{
    background-color: #84b6f4;
}
.product{
    width: 75%;
}
.addClass{
    display: block;
}
label{
    font-weight: bold;
    margin-right: 2px;
}
input{
    margin: 0 5px 10px 0;
    border-radius: 5px;
    border-color: gray;
    border: none;
    padding: 7.5px;
}
button{
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 12.5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
}
button:hover{
    background: #000000;
    opacity: 50%;
    color: #fff;
}
.nameInput{
    width: 21.5%;
}
.stockInput{
    width: 61px;
}
.priceInput{
    width: 68px;
}
.add{
    background-color: #77dd77;
    width: 9%;
}
table{
    border-collapse: collapse;
    width: 75%;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
th{
    font-family: 'MPlus';
    padding: 10px;
    font-size: x-large;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

td{
    border-right: 1px black solid;
    padding: 5px;
}
.acciones{
    border-right: none;
}
.edit{
    background-color: #ffc567;
}
.delete{
    background-color: #ff6961;
}
