@font-face {
    font-family: 'MPlus';
    src: url('/assets/fonts/MPLUS1p-Regular.ttf') format('truetype');
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #83a4d4;
    background: linear-gradient(to left, #83a4d4, #b6fbff);
    
}
h1{
    font-family: 'MPlus';
}
.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background: #e0eafc; 
    background: linear-gradient(to right, #e0eafc, #cfdef3); 
    width: 75%;
    min-width: 551px;
    margin: 100px auto;
    padding: 10px;
    border-radius: 15px;
}

.search-div{
padding-bottom: 15px;
width: 85%;
margin: auto;

}
.search{
    background-color: #84b6f4;
}
.product{
    width: 75%;
}
.addClass{
    width: 75%;
    padding-bottom: 15px;   
    margin: auto;
}
.nameInput{
    width: 30%;
}
.stockInput{
    width: 7.5%;
}
.priceInput{
    width: 7.5%;
}
label{
    margin-right: 2px;
    font-size: medium;
}
input{
    margin: 0 5px 10px 0;
    border-radius: 5px;
    border-color: gray;
    border: none;
    padding: 7.5px;
}
button{
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 12.5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
}
button:hover{
    background: #eeeeee;
    color: #000000;
}

.add{
    background-color: #77dd77;

    
}
table{
    border-collapse: collapse;
    width: 75%;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
th{
    font-family: 'MPlus';
    padding: 10px;
    font-size: x-large;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

td{
    border-right: 1px black solid;
    padding: 2px;
}
.acciones{
    border-right: none;
}
.edit{
    background-color: #ffc567;
}
.delete{
    background-color: #ff6961;
}
.not-found{
    font-weight: bold;
    font-size: large;
}

.scroll{
    height: 350px;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    width: 12px;
}
