*{
    margin: 10px;
    padding: 0px;
}


body{
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,231,148,1) 100%);
    font-family: 'Tilt Neon', 'sans-serif';
}
h1{
    font-size: 50px;
}
.search-div{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    width: 450px;
    
}
.product{
    width: 900px;
    height: 30px;
    border-radius: 15px;
    padding-left: 5px;
}
.scroll{
    height: 247px;
    overflow-y: scroll;
}
.title{
    font-weight: 900;
    font-size: x-large;
    background: rgba(148,179,233,1) 100%;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: aliceblue;
    font-size: 20px;
    border-collapse: collapse;
    
}

td{
    border: 3px black solid;
    padding: 8px;
}

button{
    cursor: pointer;
    background-color: #e9e794;
    border-radius: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;      
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover{
    background-color: #faf9a9;
    transition: 0.75s;
}
.buttons{
    display: flex;
  align-items: center;
  justify-content: center;
}

.scroll::-webkit-scrollbar{
    width: 10px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
  }

